---
import Base from "../layout/Base.astro";
import { getData } from "../getData";

const data = await getData();
---

<Base>
    <h1>Astro</h1>
    {
        data.reverse().map((year) => {
            return (
                <a href={year}>
                    <p>{year}</p>
                </a>
            );
        })
    }
    <Base /></Base
>
